extends typescript

snippet component
	import React from 'react';
	import { Card } from '@arco-design/web-react';

	function Example() {
		return (
			<Card style={{ height: '80vh' }}>
				Hello world
			</Card>
		);
	}

	export default Example;

snippet style
	import styles from './style.module.less';
